@using TongYan.Web.Controls.Extensions;
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="~/wwwroot/lib/jquery-treetable/css/jquery.treetable.theme.default.css" rel="stylesheet" />
</head>
<body>
    <div class="container" id="contentLayout">
        <!--start breadcrumb navigation-->
        @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
        @if (IsSectionDefined("Search"))
        {
            <div class="panel panel-blank">
                <div class="panel-heading">
                    <div class="pull-right panel-toolbar">
                        <button class="btn btn-transparent btn-sm">
                            <i class="fa fa-angle-up"></i>
                        </button>
                    </div>
                    <h3 class="panel-title">查询条件</h3>
                </div>
                <div class="panel-body p-0">
                    <form class="form-horizontal form-table form-bordered" data-search-for="">
                        @RenderSection("Search")
                    </form>
                </div>
            </div>
        }
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datatable")
    <script src="~/wwwroot/js/core/ty.core.js"></script>
    <script src="~/wwwroot/js/core/ty.parser.js"></script>
    @Scripts.Render("~/bundles/components")

    <script src="~/wwwroot/js/core/ty.tree.js"></script>
    <script src="~/wwwroot/js/core/dataTables.check.js"></script>
    <script src="~/wwwroot/js/core/ty.datatable.js"></script>
    <script src="~/wwwroot/js/core/ty.iframePage.init.js"></script>
    <script src="~/wwwroot/js/core/ty.button.js"></script>
    <script src="~/wwwroot/js/core/ty.select.js"></script>

    <script src="~/wwwroot/lib/jquery-treetable/jquery.treetable.js"></script>
    <script src="~/wwwroot/js/core/ty.dataTables.treetable.js"></script>
    @RenderSection("scripts", required: false)
    @Html.RenderControlScript()
</body>
</html>
