<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container" id="contentLayout">
        <!--start breadcrumb navigation-->
        @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/components")
    @RenderSection("scripts", required: false)
</body>
</html>
